#navigation {
  width: 100%;
  margin-bottom: 30px;
}
#subhead {
  display: flex;
  flex-direction: row;
  gap: 40px;
}
.block {
  background: radial-gradient(#381d75, #180a37);
  width: 500px;
  height: 550px;
  border-radius: 20px;
}
#word-list-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
#progress-bar-container {
  width: 20%;
}
#word-list {
  width: 75%;
  display: flex;
  flex-direction: row;
}


ul {
    flex: 1 1 80px;
  min-width: 80px; /* Minimum width of each column */
  padding: 10px;
  list-style: none;
  display: inline-block;
  word-wrap: break-word;
  column-count: 3;
  column-gap: 20px;

  overflow: hidden;
}
