
#word-list-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 30px;
   background: radial-gradient(#381d75, #180a37);
  border-radius: 20px;
}
.progress-bar-container {
  position: relative;
  width: 20%;
  margin: 10px;
  padding: 1% 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
  .dotted-line {

    fill: none;
    stroke: orange;
    stroke-width: 2;
    marker: url(#circle-marker);

  }
  #circle-marker circle {
    fill: orange;
    stroke: orange;
  }

}
#word-list {
  width: 75%;
  height: auto;
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}
ul {
    flex: 1 1 80px;
  min-width: 80px; /* Minimum width of each column */
  padding: 10px;
  list-style: none;
  display: inline-block;
  word-wrap: break-word;
  column-count: 3;
  column-gap: 10px;
  font-size: 1rem;
  line-height: 1.3rem;
  font-family: 'NTR';
  overflow: hidden;

}

.prog-spider-class-0 {
  position: absolute;
  top: 0;
  margin-right: 20%;
  margin-left: 10%;
  z-index: 3;
}
.prog-spider-class-1 {
  position: absolute;
  top: 10%;
  margin-right: 20%;
  margin-left: 10%;
  z-index: 3;
}
.prog-spider-class-2 {
  position: absolute;
  top: 21%;
  margin-right: 20%;
  margin-left: 10%;
  z-index: 3;
}
.prog-spider-class-3 {
  position: absolute;
  top: 32%;
  margin-right: 20%;
  margin-left: 10%;
  z-index: 3;
}
.prog-spider-class-4 {
  position: absolute;
  top: 43%;
  margin-right: 20%;
  margin-left: 10%;
  z-index: 3;
}
.prog-spider-class-5 {
  position: absolute;
  top: 54%;
  margin-right: 20%;
  margin-left: 10%;
  z-index: 3;
}
.prog-spider-class-6 {
  position: absolute;
  top: 64%;
  margin-right: 20%;
  margin-left: 10%;
  z-index: 3;
}
.prog-spider-class-7 {
  position: absolute;
  top: 75%;
  margin-right: 20%;
  margin-left: 10%;
  z-index: 3;
}
.prog-spider-class-8 {
  position: absolute;
  top: 86%;
  margin-right: 20%;
  margin-left: 10%;
  z-index: 3;
}

