.navigation {
  width: 100%;
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.subhead {
  display: flex;
  flex-direction: row;
  gap: 40px;
}
.main-container {
  height: 100vh;
}


