.navigation {
  width: 100%;
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.subhead {
  display: flex;
  flex-direction: row;
  gap: 40px;
}
.main-container {
  height: 100%;
}
.other-button {
    border-radius: 12px;
  width: 80%;
  border: 0;
  font-family: 'Nunito';
  font-weight: 800;
  font-size: 1rem;
  padding: 8px;
  margin: 8px;
   background: #180a37;
   color: orange;
   box-shadow: 1px 1px 1px 1px #381d75;

}

@media (max-width: 480px) {
.navigation {
  margin-bottom: 10px;
}
.subhead {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  }
  #logo {
    width: 30%
  }


}